.panel {
    display: flex;
    flex-direction: column;

    ul {
        column-gap: 9.98px;
    }

    .newWord {
        cursor: pointer;
        color: var(--second-shade-color);
        font-size: .8em;
    }
}