.table {
    height: fit-content;
    display: flex;
    column-gap: 9.6px;
    align-items: center;
    position: absolute;
    right: 249.6px;
    top: 33.6px;

    .score {
        border-radius: 7.68px;
        padding: 5.76px 28.8px;
        background-color: var(--second-color);
        position: relative;
        overflow: clip;

        &::after {
            content: "";
            position: absolute;
            background: url("/draw.png") no-repeat center / cover;
            left: -13.44px;
            bottom: -13.44px;
            width: 38.4px;
            height: 38.4px;
        }
    }

    .score.win {
        background-color: #fd4545;

        &::after {
            background-image: url('/win.gif');
            bottom: -5.76px;
            left: -5.76px;
        }
    }

    .score.loose {
        background-color: #94ebdf;

        &::after {
            background-image: url('/loose.png');
        }
    }
}