.counter {
    display: flex;
    column-gap: 19.2px;
    margin-top: 9.98px;
    position: relative;

    .button {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
        border-radius: 15.36px;
        padding: 9.6px 15.36px;
        display: flex;
        justify-content: center;
        width: fit-content;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: var(--primary-shade-color);
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(60deg);
            }
        }

        &:not(:disabled)::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--primary-color);
            position: absolute;
            left: 0;
            top: 0;
            filter: blur(15.36px);
            opacity: .7;
            z-index: -1;
            animation: spin infinite forwards 3s ease alternate;
        }
    }

    .pointsAndPlayers {
        display: flex;
        flex-direction: column;

        .points {
            font-size: 2em;
            font-weight: 700;
        }

        .player {
            margin-top: 9.6px;
            display: flex;
            column-gap: 15.36px;
            background-color: var(--second-color);
            border-radius: 7.68px;
            padding: 5.76px 15.36px;
            position: relative;
            overflow: clip;
            width: fit-content;

            &::before {
                content: "";
                background-color: var(--primary-color);
                width: 53%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 7.68px;
                transition: .3s ease;
            }

            input {
                display: inline-block;
                z-index: 10;
                border: none;
                background: none;
                max-width: 60px;
                font-size: 1rem;
            }

            input:focus {
                outline: none;
            }

            input:nth-child(1) {
                color: var(--bg-color);
            }

            &.secondPlayer {
                input:nth-child(1) {
                    color: var(--primary-color);
                }

                input:nth-child(2) {
                    color: var(--bg-color);
                }

                &::before {
                    left: 49%;
                }
            }
        }
    }
}