.charInput {
    background-color: var(--second-color);
    border: none;
    padding: 9.6px 15.36px;
    cursor: pointer;
    border-radius: 7.68px;

    &:hover {
        background-color: var(--second-shade-color);
    }
}

.clicked {
    background-color: var(--second-shade-color);
}